*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
}

html , body {

    height: 100%;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#main {
    height: 100%;
    width: 100%;
    background-color:rgb(0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: difference;
}
h1{
    font-size: 10vw;
    font-weight: 900;

}