*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html , body{
    height: 100%;
    width: 100%;
}

body {
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    height: 420px;
    width: 380px;
    background-color: #fff;
    border-radius: 10px;
    border : 3px solid black;
    position: relative;
}

#storiyan {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid ;
    padding: 10px;
    white-space:nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
 
#storiyan::-webkit-scrollbar{
    display: none;
}
.story {
    border : 3px solid red;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 9px;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#full-screen {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}